<footer>
    <section class="section-padding">
        <div class="container">
            <article class="footer-area">
                <div class="footer-col">
                    <div class="footer-logo">
                        <img src="./assets/icons/logo.png" alt="img" />
                        <h3>logoType</h3>
                    </div>
                    <div class="footer-text">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex magni quod sed molestiae illo saepe, maxime sunt sint corrupti officia.</p>
                    </div>
                    <div class="foter-links">
                        <div class="footer-link">
                            <a href=""><img src="./assets/icons/social/telegram.png" alt="logo vk" /></a>
                        </div>
                        <div class="footer-link">
                            <a href=""><img src="./assets/icons/social/instagram.png" alt="logo inst" /></a>
                        </div>
                        <div class="footer-link">
                            <a href=""><img src="./assets/icons/social/whatsapp.png" alt="logo whatsup" /></a>
                        </div>
                    </div>
                </div>
                <div class="footer-col"></div>
                <div class="footer-col"></div>
            </article>
        </div>
        <div class="footer-border">
            <div class="footer-border-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ad!</p></div>
        </div>
    </section>
</footer>
