<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/style/normalize.css" />
    <link rel="stylesheet" href="./assets/style/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/style/style.css" />
    <link rel="stylesheet" href="./assets/fonts/roboto.css" />
    <link rel="stylesheet" href="./assets/style/accordion/accordion.css" />
    <link rel="stylesheet" href="./assets/style/sidebar.css" />
    <link rel="stylesheet" href="./assets/style/popup-window.css" />
    <link rel="stylesheet" href="./assets/style/caces.css" />
    <link rel="stylesheet" href="./assets/style/navbar.css" />
    <link rel="stylesheet" href="./assets/style/parallax.css" />
    <link rel="stylesheet" href="./assets/style/preview-bg.css" />
    <link rel="stylesheet" href="./assets/style/about2.css" />
    <link rel="stylesheet" href="./assets/style/pricelist.css" />
    <link rel="stylesheet" href="./assets/style/swiper/nastya-swiper.css" />
    <link rel="stylesheet" href="./assets/style/advantages.css" />
    <link rel="stylesheet" href="./assets/style/conditions.css" />
    <link rel="stylesheet" href="./assets/style/articles.css" />
    <link rel="stylesheet" href="./assets/style/footer.css" />
    <link rel="stylesheet" href="./assets/style/theme/light-theme.css" data-theme-toggle data-theme="light" />
    <title><%= title %></title>
</head>
