@font-face {
    font-family: "RobotoRegular";
    src: url("./Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoMedium";
    src: url("./Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoBlack";
    src: url("./Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoLight";
    src: url("./Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
h1 {
    font-family: RobotoBlack;
    letter-spacing: 2px;
}
h2 {
    font-family: RobotoRegular;
    font-weight: normal;
}
p {
    font-family: RobotoLight;
}
