/* Help ....

Swiper 1.0.1

В оснвном root необходимо указать:
.text-red --> .text-theme-red - из темы
.text-red-light --> text-theme-red-light - создавал для номера телефона в nav
.text-color-acid --> text-theme-acid - создавал для блока parallax
.btn-sm
.btn-md
.btn-lg
.btn-warning
.btn-danger
.btn-primary
.btn-success
.btn-active

  Паддинги, значения указаны в процентах:
.pt-25
.pt-50
.pt-75
.pt-100
.pb-25
.pb-50
.pb-75
.pb-100
.pl-25
.pl-50
.pl-75
.pl-100
.pr-25
.pr-50
.pr-75
.pr-100

Высота 50%:
.h-50



Классы для корректной работы свайпера
.swiper-buttons-horizontal
.swiper-button-up
.swiper-button-down 
.swiper-buttons-horizontal__group
.swiper-btn-sm
.swiper-btn-md
.swiper-btn-lg
.swiper-btn-dark
.swiper-btn-light
.swiper-button-prev,
.swiper-button-next
.swiper-button-prev-dark
.swiper-button-next-dark
.swiper-button-prev-light
.swiper-button-next-light
.swiper-button-prev-square
.swiper-button-next-square
.swiper-button-prev-circle
.swiper-button-next-circle 
.swiper-pagination-bullet
.swiper-pagination-bullet-active
.swiper-wrapper-grid
.slider-container
.slider-container-wrapper
.slide-block-container
.slide-block
.slide-block__wrapper
.swiper-slide
.slide-block__icon
.slide-block__img 
.slide-block__content
.slide-block-title
.slide-block__description
.slide-block__btn
.slide-block__icon-sm
.slide-block__icon-md
.slide-block__icon-lg
.slide-block__icon-top-left
.slide-block__icon-top-right
.slide-block__icon-bottom-left
.slide-block__icon-bottom-right
.slide-block__icon-center-left
.slide-block__icon-center-right
.btn-default
.btn-top-left
.btn-top-right
.btn-top-center
.btn-center-left
.btn-center-right
.btn-center-center
.btn-bottom-left
.btn-bottom-right


*/
:root {
    /*#region border-style */
    --border-color-light: 1px solid rgb(211, 211, 211);
    --border-color-dark: 1px solid rgb(19, 19, 19);
    --border-color-md: 1px solid rgb(143, 143, 143);
    --border-r-12: 12px;
    --border-r-6: 6px;
    --border-r-100: 100%;
    --border-r-top: 6px 6px 0 0;
    --border-r-bottom: 0 0 6px 6px;
    /*#endregion border-style */

    /*#region text-style */
    --text-color-light: rgb(240, 240, 240);
    --text-opacity: rgba(0, 0, 0, 0.608);
    --text-color-red: rgb(185, 37, 37);
    --text-color-dark: rgb(26, 26, 26);
    --text-color-red-light: #fe6653;
    --text-color-red-acid: #ccff00;
    --text-shadow-dark: 0px 3px 2px rgba(0, 0, 0, 0.42);
    --text-shadow-light: 0px 3px 2px rgba(255, 255, 255, 0.42);
    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    /*#endregion text-style */

    /*#region box-shadow-style */
    --box-shadow-light: 2px 2px 4px rgb(175, 175, 175);
    --box-shadow-light-hover: 2px 2px 6px rgb(175, 175, 175);
    --box-shadow-dark: 2px 2px 4px rgb(33, 33, 33);
    /*#endregion box-shadow-style */

    /*#region background-theme-light */
    --background-color-light-var-1: rgb(245, 245, 245);
    --background-color-light-var-2: #ffc513;
    --background-color-light-var-3: rgb(244, 221, 15);
    --background-color-light-var-4: rgb(0, 133, 252);
    --background-color-light-var-5: rgb(73, 71, 188);
    --background-color-light-hover-1: rgb(248, 239, 72);
    --background-color-light-hover-2: #ffc513;
    --background-color-light-hover-3: rgb(244, 221, 15);
    --background-color-light-hover-4: #262626;
    --background-color-light-hover-5: rgb(26, 123, 251);
    /*#endregion background-theme-light */

    /*#region background-theme-dark */
    --background-color-dark-var-1: rgb(54, 54, 54);
    --background-color-dark-var-2: #272727;
    --background-color-dark-var-3: rgb(18, 18, 18);
    --background-color-dark-var-4: rgb(45, 45, 45);
    --background-color-dark-var-5: rgb(18, 18, 18);
    /*#endregion background-theme-dark */

    /*#region btn-style */
    --btn-background-warning: rgb(150, 32, 32);
    --btn-background-danger: rgb(190, 0, 0);
    --btn-background-danger-hover: rgb(227, 0, 0);
    --btn-background-primary: #3a2e85;
    --btn-background-success: #34b076;
    --btn-background-active: rgb(246, 246, 246);
    --btn-background-focus: rgb(23, 23, 23);
    /*#endregion btn-style */
}

/*#region custom-classes */

/*#region text-style */
.text-red {
    color: var(--text-color-red);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
.text-red-light {
    color: var(--text-color-red-light);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
.text-color-acid {
    color: var(--text-color-red-acid);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
/*#endregion text-style */

/*#region btn-type*/
.btn-default {
    border: var(--background-color-light);
    border-radius: 6px;
    font-size: var(--font-size-sm);
    letter-spacing: 3px;
    cursor: pointer;
    transition: 350ms;
}
.btn-default:hover {
    color: var(--text-color-light);
    background-color: var(--btn-background-focus);
    transition: 0.3s;
}
.btn-warning {
    background-color: var(--btn-background-warning);
    color: var(--text-color-dark);
}
.btn-danger {
    background-color: var(--btn-background-danger);
    color: aliceblue;
}
.btn-primary {
    background-color: var(--btn-background-primary);
    color: aliceblue;
}
.btn-success {
    background-color: var(--btn-background-success);
    color: aliceblue;
}
.btn-active {
    background-color: var(--btn-background-active);
    border: var(--border-color-dark);
    font-size: var(--font-size-md);
    color: var(--text-color-dark);
    width: 150px;
    border-radius: 5px;
    letter-spacing: 3px;
    cursor: pointer;
    height: 20px;
}
.btn-active:hover {
    background-color: var(--btn-background-focus);
    color: var(--text-color-light);
    transition: 300ms;
}
/*#endregion btn-type*/

/*#region btn-size */
.btn-sm {
    padding: 0 15px;
    min-width: 120px;
    font-size: var(--font-size-sm);
}
.btn-md {
    padding: 0 20px;
    min-width: 150px;
    font-size: var(--font-size-md);
}
.btn-lg {
    padding: 0 25px;
    min-width: 200px;
    font-size: var(--font-size-lg);
}
/*#endregion btn-size */

/*#region btn-position */
.btn-top-left {
    order: -1;
    align-self: flex-start;
}
.btn-top-right {
    order: -1;
    align-self: flex-end;
}
.btn-top-center {
    position: relative;
    align-self: center;
    order: -1;
}
.btn-center-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-self: flex-start;
}
.btn-center-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-self: flex-end;
}
.btn-center-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.btn-bottom-left {
    align-self: flex-start;
}
.btn-bottom-right {
    align-self: flex-end;
}
.btn-bottom-center {
}
/*#endregion btn-position */

/*#region icon-position */
.slide-block__icon-top-left {
    width: 40px;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
}
.slide-block__icon-top-right {
    width: 40px;
    position: absolute;
    top: 5%;
    left: 85%;
    z-index: 1;
}
.slide-block__icon-bottom-left {
    width: 40px;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    align-self: first baseline;
}
.slide-block__icon-bottom-right {
    width: 40px;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    align-self: last baseline;
    z-index: 1;
}
.slide-block__icon-center-left {
    align-items: center;
    justify-content: start;
}
.slide-block__icon-center-right {
    align-items: center;
    justify-content: end;
}
/*#endregion iconposition */

/*#region icon-size */
.slide-block__icon-sm {
    width: 40px;
    height: 40px;
}
.slide-block__icon-md {
    width: 45px;
    height: 45px;
}
.slide-block__icon-lg {
    width: 55px;
    height: 55px;
}
/*#endregion icon-size */

/*#region height */
.h-50 {
    height: 50%;
}
/*#endregion height */

/*#region padding */
.pt-25 {
    padding-top: 25%;
}
.pt-50 {
    padding-top: 50%;
}
.pt-75 {
    padding-top: 75%;
}
.pt-100 {
    padding-top: 100%;
}
.pb-25 {
    padding-bottom: 25%;
}
.pb-50 {
    padding-bottom: 50%;
}
.pb-75 {
    padding-bottom: 75%;
}
.pb-100 {
    padding-bottom: 100%;
}
.pl-25 {
    padding-left: 25%;
}
.pl-50 {
    padding-left: 50%;
}
.pl-75 {
    padding-left: 75%;
}
.pl-100 {
    padding-left: 100%;
}
.pr-25 {
    padding-right: 25%;
}
.pr-50 {
    padding-right: 50%;
}
.pr-75 {
    padding-right: 75%;
}
.pr-100 {
    padding-right: 100%;
}
/*#endregion padding */

/*#endregion custom-classes */

/*#region swiper-style */
.swiper {
    max-width: 100%;
    padding: 40px 10px;
    border-radius: 12px;
}
.swiper-slide {
    height: auto;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.8;
    background-color: var(--background-color-dark-var-5);
}
.swiper-pagination-bullet-active {
    background: var(--background-color-light-var-4);
}

/*#region swiper-buttons */
.swiper-buttons-horizontal {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.swiper-button-up {
    margin-bottom: 40px;
}
.swiper-button-up,
.swiper-button-down {
    position: relative;
    display: none;
    justify-content: center;
}
.swiper-buttons-horizontal__group {
    order: 2;
    display: flex;
    gap: 20px;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    /* position: relative;
  padding: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  border: none; */
}
.swiper-button-prev::after,
.swiper-button-next::after {
    /* opacity: 0; */
}
.swiper-btn-sm {
    width: 28px;
    height: 28px;
}
.swiper-btn-md {
    width: 34px;
    height: 34px;
    background-size: cover;
}
.swiper-btn-lg {
    width: 38px;
    height: 38px;
}
.swiper-btn-dark {
    background-color: var(--background-color-dark-var-1);
    color: var(--text-color-light);
}
.swiper-btn-light {
    background-color: var(--background-color-light-var-1);
    color: var(--text-color-dark);
}
.swiper-button-prev-dark:hover,
.swiper-button-next-dark:hover {
    color: var(--text-color-light);
    background-color: var(--background-color-light-var-1);
    transform: scale(110%, 110%);
    background-size: 110%;
}
.swiper-button-prev-light:hover,
.swiper-button-next-light:hover {
    color: var(--text-color-dark);
    background-color: var(--background-color-light-var-2);
    transform: scale(110%, 110%);
    background-size: 110%;
}
.swiper-button-prev-square,
.swiper-button-next-square {
    border-radius: 10%;
}
.swiper-button-prev-circle,
.swiper-button-next-circle {
    border-radius: 50%;
}
/*#endregion swiper-buttons */
/*#endregion swiper-style */

/*#region slider-style */
.swiper-wrapper-grid {
    padding: 10px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, minmax(248px, 350px));
    grid-template-rows: 350px 200px;
}
.slider-container {
    position: relative;
    height: 100%;
}
.slider-container-wrapper {
    display: flex;
    flex-direction: column;
}
.slide-block-container {
    box-shadow: var(--box-shadow-light);
    background-color: var(--background-color-dark-var-2);
    border: var(--border-color-light);
    border-radius: var(--border-r-12);
    height: 100%;
    transition: 0.5s;
}
.slide-block-container:hover {
    transform: scale(1.03);
    box-shadow: var(--box-shadow-light-hover);
    border: var(--border-color-md);
}
.slide-block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-r-12);
    height: 100%;
    overflow: hidden;
}
.slide-block__wrapper {
    position: relative;
}
.swiper-slide:nth-child(3) {
    grid-row: 1/3;
    grid-column: 3/4;
}
.slide-block__icon {
    align-self: flex-end;
    flex-grow: 2;
    position: relative;
}
.slide-block__icon img {
    border: var(--border-color-light);
    border-radius: var(--border-r-100);
    width: 40px;
    height: 40px;
    display: block;
}
.slide-block__content {
    background-color: var(--background-color-light-var-1);
    color: var(--text-color-dark);
    border-radius: 5px;
    max-height: 100%;
}
.slide-block-title {
    color: inherit;
    border-radius: 5px 5px 0 0;
    letter-spacing: 1px;
    padding: 0 5px;
}
.slide-block__description {
    color: inherit;
    font-size: var(--font-size-sm);
    padding: 5px;
    letter-spacing: 1px;
    word-spacing: 1px;
    max-height: 100%;
    position: relative;
}

.slide-block__description p {
    font-size: inherit;
    color: inherit;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
.slide-block__btn button {
    box-shadow: var(--box-shadow-dark);
}

/*#region slide-block-1 */
.slide-block-container-1:nth-child(1) .slide-block {
    padding: 0;
}
.slide-block-container-1:nth-child(1) .slide-block__content {
    background-color: var(--background-color-light-var-1);
    border: none;
    border-radius: var(--border-r-bottom);
    height: 50%;
}
.slide-block-container-1:nth-child(1) .slide-block__wrapper {
    height: 100%;
}
.slide-block__img {
    height: 50%;
    border: var(--border-r-top);
}
.slide-block-container-1:nth-child(1) .slide-block__content p {
    color: var(--text-color-dark);
    text-align: center;
}
.slide-block-container-1:nth-child(1) .slide-block__content h3 {
    color: var(--text-color-dark);
    text-align: center;
}
/*#endregion slide-block-1 */

/*#region slide-block-2 */
.slide-block-container-2 .slide-block {
    padding: 0;
}
.slide-block-container-2 .slide-block__content {
    background-color: var(--background-color-light-var-1);
    border: none;
    border-radius: var(--border-r-bottom);
    height: 50%;
    position: relative;
    top: 40%;
    transition: 1s;
}
.slide-block-container-2:hover .slide-block__content {
    top: 0;
}
.slide-block-container-2:hover .slide-block__img {
    opacity: 0.6;
}
.slide-block-container-2 .slide-block__wrapper {
    height: 100%;
}
.slide-block__img {
    height: 50%;
    border: var(--border-r-top);
}
.slide-block-container-2 .slide-block__content p {
    color: var(--text-color-dark);
    text-align: center;
}
.slide-block-container-2 .slide-block__content h3 {
    color: var(--text-color-dark);
    text-align: center;
}
/*#endregion slide-block-2 */

/*#region slide-block-3 */
.slide-block-container-3 .slide-block__content {
    height: 200px;
    margin-left: 30px;
}

.slide-block-container-3 .slide-block__content p {
    font-size: var(--font-size-md);
    text-align: right;
}
.slide-block-container-3 .slide-block__content h3 {
    text-align: right;
}
/*#endregion slide-block-3 */

/*#region slide-block-4 */
.slide-block-container-4 {
    background-color: var(--background-color-light-var-1);
}
.slide-block-container-4 .slide-block__content {
    background-color: inherit;
}
.slide-block-container-4 .slide-block__content p {
    color: var(--text-color-dark);
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 0px;
}
.slide-block-container-4 .slide-block__content h3 {
    color: var(--text-color-dark);
    font-size: var(--font-size-lg);
    text-align: center;
}
.slide-block-container-4 .btn-default {
    background-color: var(--background-color-dark-var-1);
    color: var(--text-color-light);
    border: var(--border-color-md);
    border-radius: var(--border-r-6);
    box-shadow: var(--box-shadow-light);
}
/*#endregion slide-block-4 */

/*#region slide-block-5 */
.slide-block-container-5 {
    background-color: var(--background-color-light-var-4);
}
.slide-block-container-5 .slide-block__content {
    background-color: inherit;
}
.slide-block-container-5 .slide-block__content h3 {
    color: var(--text-color-light);
    font-size: var(--font-size-lg);
    text-align: center;
}
.slide-block-container-5 .slide-block__content p {
    color: var(--text-color-light);
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 0px;
}
.slide-block-container-5 .btn-default {
    background-color: var(--background-color-light-var-1);
    border: var(--border-color-light);
    border-radius: var(--border-r-6);
    box-shadow: var(--box-shadow-dark);
}
/*#endregion slide-block-5 */

/*#endregion slider-style */

@media screen and (max-width: 992px) {
    .swiper-wrapper-grid {
        grid-template-columns: repeat(2, minmax(208px, 350px));
        grid-template-rows: 320px 200px 320px;
        gap: 14px;
    }
    .swiper-slide:nth-child(3) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .slide-block-container-3 .slide-block__content {
        height: 150px;
        margin: 0;
    }
}
@media screen and (max-width: 500px) {
    .slide-block {
        min-height: 310px;
    }
}
