.advantages-area {
    position: relative;
    overflow: hidden;
    height: 800px;
    z-index: 2;
}
.advantages-background {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 400px;
    background-color: var(--bg-advantages-light);
    z-index: -1;
}
.advantages {
    position: relative;
    z-index: 2;
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(300px, 400px));
    grid-template-rows: repeat(2, minmax(200px, 300px));
    justify-content: center;
    gap: 24px;
    background-color: white;
    padding: 10px;
}

.advantages__block {
    padding: 10px;
    border: var(--border-color-light);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.advantages__block-icon {
    text-align: center;
}
.advantages__block-icon > img {
    max-width: 100px;
}
.advantages__block-text {
    /* border: 1px solid black; */
    text-align: center;
}
