/*#region header-fixed */
header {
    position: relative;
}
[data-header="fixed"] {
    position: fixed;
    z-index: 9999 !important;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 6px 7px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 7px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 7px -5px rgba(0, 0, 0, 0.75);
    top: 0;
}
[data-anim="move"] {
    animation-name: animHeader;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes animHeader {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
/*#endregion header-fixed */

/*#region drop-menu */
[data-drop-position="absolute"] {
    position: absolute;
    top: 200px;
}
[data-drop-position="fixed"] {
    position: fixed;
    width: 220px;
}
[data-drop-active="true"] {
    background-color: var(--bg-light);
    color: var(--text-color-dark);
}
.drop-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin-top: 20px;
    box-shadow: var(--box-shadow-dark);
    z-index: 2000;
}
.drop-menu > li {
    width: 100%;
    padding: 6px;
    border-bottom: var(--border-opacity);
    list-style: none;
}
.drop-menu a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding: 6px;
    text-decoration: none;
    color: inherit;
}
.drop-menu > li:hover {
    background-color: aliceblue;
}
.drop-menu img {
    width: 30px;
}
/*#endregion drop-menu */

.menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 6px 10px;
    overflow: hidden;
}
.menu__icon {
}
.menu__icon > img {
    width: 50px;
    width: 50px;
}
.menu__list {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 16px;
    list-style: none;
}
.menu__list-item {
    text-align: center;
}
.menu__list-link {
    display: block;
    padding: 10px;
    width: 120px;
    text-decoration: none;
    color: var(--text-color-dark);
    border-radius: 6px;
}
.menu__list-link:hover {
    background-color: var(--bg-light);
    color: var(--text-color-dark);
}
.menu__button button {
}
.menu__button:hover > button {
}
.menu__button img {
    width: 20px;
}
.theme-toggle {
    margin-right: 24px;
}
.theme-toggle > img {
    width: 30px;
    cursor: pointer;
}

/*#region header-burger */
[data-menu-position="absolute"] {
    position: absolute;
    top: 200px;
}
.menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 28px;
    cursor: pointer;
}
.menu-burger > span {
    width: 100%;
    height: 2px;
    background-color: black;
}
/*#endregion header-burger */
