/*#region animation */
[data-anim="fromLeft"] {
    animation: fromLeft 1s forwards;
}
[data-anim="fromRight"] {
    animation: fromRight 1s forwards;
}
[data-anim="toBottomBtn"] {
    animation: toBottomBtn 1s forwards;
}
[data-anim="toRight"] {
    animation: toRight 1s forwards;
}
[data-anim="toLeft"] {
    animation: toLeft 1s forwards;
}
[data-anim="fromBottom"] {
    animation: fromBottom 1s forwards;
}
[data-anim="fromBottomBtn"] {
    animation: fromBottomBtn 1s forwards;
}
[data-anim="toBottomForm"] {
    animation: toBottomForm 1s forwards;
}
[data-anim="fromBottomForm"] {
    animation: fromBottomForm 1s forwards;
}
@keyframes toRight {
    from {
        left: 0;
    }
    to {
        left: -1000px;
    }
}
@keyframes toLeft {
    from {
        left: 0;
    }
    to {
        left: 1000px;
    }
}
@keyframes fromRight {
    from {
        left: -1000px;
    }
    to {
        left: 0;
    }
}
@keyframes fromLeft {
    from {
        left: 1000px;
    }
    to {
        left: 0;
    }
}
@keyframes toBottomBtn {
    from {
        top: 0;
    }
    to {
        top: 600px;
    }
}
@keyframes toBottomForm {
    from {
        top: 50%;
    }
    to {
        top: 1000px;
    }
}
@keyframes fromBottomForm {
    from {
        top: 1000px;
    }
    to {
        top: 50%;
    }
}
@keyframes fromBottom {
    from {
        top: 600px;
    }
    to {
        top: 50%;
    }
}
@keyframes fromBottomBtn {
    from {
        top: 600px;
    }
    to {
        top: 0;
    }
}
/*#endregion animation */

.text-opacity {
    color: rgba(106, 106, 106, 0.784);
}
.parallax {
    height: 600px;
    background-image: url(../imgs/common/5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: var(--box-shadow-inset-dark);
    -moz-box-shadow: var(--box-shadow-inset-dark);
    box-shadow: var(--box-shadow-inset-dark);
}
.opacity {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
    background-color: var(--bg-opacity-dark);
}
.parallax__block {
    position: absolute;
    z-index: 200;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.parallax__block-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text-color-light);
}
.parallax__block-header > h2,
h1 {
    position: relative;
    transition: 1s;
}
.parallax__block-header > p {
    position: relative;
    transition: 1s;
}
.parallax__block-button button {
    position: relative;
    transition: 0.9s;
}

/* parallax__block-hiden */
.parallax-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--text-color-light);
    border-radius: var(--border-r-12);
    width: 500px;
    left: 50%;
    top: 1000px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.parallax-form form {
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 26px;
    z-index: 1;
}
.parallax-form .form-line {
    display: flex;
    justify-content: space-between;
}
.parallax-form input {
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 6px;
}
.parallax-form textarea {
    resize: none;
    height: 100px;
    border-radius: 6px;
    border: var(--border-color-light);
    padding: 6px;
}
.parallax-form-close {
    position: relative;
    right: 20px;
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    align-self: end;
    background-color: var(--text-color-red-light);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.parallax-form__btn-submit {
}
.submit-form {
    position: absolute;
    background-color: var(--text-color-light);
    left: 0;
    top: 0;
    color: var(--text-color-dark);
    width: 100%;
    height: 100%;
    border-radius: var(--border-r-12);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.parallax-form .hide-block {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    border-radius: inherit;
}
.hide-block__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hide-block__icon > img {
    width: 60px;
}
.hide-block__text {
    font-size: 24px;
    font-weight: normal;
}

/*#region animation */
.border-red {
    animation: borderRed 0.2s;
}
@keyframes borderRed {
    0% {
        border: 1px solid transparent;
    }
    25% {
        border: 1px solid red;
    }
    50% {
        border: 1px solid transparent;
    }
    75% {
        border: 1px solid red;
    }
    100% {
        border: 1px solid transparent;
    }
}

[data-anim="showHideBlock"] {
    animation: showHideBlock forwards;
}
[data-anim="hideHideBlock"] {
    animation: hideHideBlock 2s forwards;
}

@keyframes showHideBlock {
    from {
        left: -100%;
    }
    to {
        left: 0px;
    }
}

@keyframes hideHideBlock {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
/*#endregion common-animation */
