.preview {
}
.preview-bg {
    width: 100%;
    height: 600px;
    background-image: url(../imgs/nastya-2.png);
    background-color: rgb(194, 199, 202);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.preview-content {
    padding: 50px;
    padding-right: 50%;
}
