* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}
:root {
    /* text */
    --text-color-light: rgb(240, 240, 240);
    --text-opacity: rgba(0, 0, 0, 0.608);
    --text-color-red: rgb(185, 37, 37);
    --text-color-dark: rgb(26, 26, 26);
    --text-color-red-light: #fe6653;
    --text-color-red-acid: #ccff00;
    --text-shadow-dark: 0px 3px 2px rgba(0, 0, 0, 0.42);
    --text-shadow-light: 0px 3px 2px rgba(255, 255, 255, 0.42);
    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    /* background */
    --bg-light: rgb(235, 235, 235);
    --bg-green: rgb(41, 155, 155);
    --bg-blue: rgb(73, 134, 194);
    --bg--dark-grey: rgb(37, 37, 37);
    --bg-dark: rgb(24, 24, 24);
    --bg-red: rgb(237, 79, 79);
    /* font size */
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 20px;
    /* border */
    --border-color-light: 1px solid rgb(211, 211, 211);
    --border-color-dark: 1px solid rgb(19, 19, 19);
    --border-color-md: 1px solid rgb(143, 143, 143);
    --border-r-12: 12px;
    --border-r-6: 6px;
    --border-r-100: 100%;
    --border-r-top: 6px 6px 0 0;
    --border-r-bottom: 0 0 6px 6px;
    /*box-shadow-style */
    --box-shadow-light: 2px 2px 4px rgb(175, 175, 175);
    --box-shadow-light-hover: 2px 2px 6px rgb(175, 175, 175);
    --box-shadow-dark: 2px 2px 4px rgb(33, 33, 33);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* overflow-x: hidden; */
}
.section-padding {
    padding: 40px 10px;
}
.section-title {
    text-align: center;
    padding-bottom: 40px;
}
.section-title > h2 {
    font-size: 32px;
    letter-spacing: 1px;
}
