* {
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}

:root {
    /* text */
    --text-color-light: rgb(240, 240, 240);
    --text-opacity: rgba(0, 0, 0, 0.608);
    --text-color-red: rgb(185, 37, 37);
    --text-color-dark: rgb(26, 26, 26);
    --text-color-red-light: #fe6653;
    --text-color-red-acid: #ccff00;
    --text-shadow-dark: 0px 3px 2px rgba(0, 0, 0, 0.42);
    --text-shadow-light: 0px 3px 2px rgba(255, 255, 255, 0.42);
    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    /* background */
    --bg-light: rgb(235, 235, 235);
    --bg-green: rgb(41, 155, 155);
    --bg-blue: rgb(73, 134, 194);
    --bg-advantages-light: rgba(74, 218, 234, 0.225);
    --bg--dark-grey: rgb(37, 37, 37);
    --bg-dark: rgb(24, 24, 24);
    --bg-red: rgb(237, 79, 79);
    --bg-opacity-dark: rgba(0, 0, 0, 0.589);
    /* border */
    --border-color-light: 1px solid rgba(211, 211, 211, 0.442);
    --border-color-dark: 1px solid rgb(19, 19, 19);
    --border-opacity: 1px solid rgba(178, 178, 178, 0.416);
    --border-color-md: 1px solid rgb(143, 143, 143);
    --border-r-12: 12px;
    --border-r-6: 6px;
    --border-r-100: 100%;
    --border-r-top: 6px 6px 0 0;
    --border-r-bottom: 0 0 6px 6px;
    /* box-shadow-style */
    --box-shadow-light: 2px 2px 4px rgb(175, 175, 175);
    --box-shadow-light-hover: 2px 2px 6px rgb(175, 175, 175);
    --box-shadow-dark: 2px 2px 4px rgb(33, 33, 33);
    --box-shadow-inset-dark: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
    /* gradient */
    --gradient-red: linear-gradient(to right, #f47c6d, #ff624e, #f47c6d);
    --gradient-red-hover: linear-gradient(to right, #f24a34, #fd5c47, #f24a34);
    --gradient-green: linear-gradient(to right, #16a464, #54a882, #16a464);
    --gradient-green-hover: linear-gradient(to right, #0ab063, #0bc970, #0ab063);
    --gradient-blue: linear-gradient(to right, #3eabc1, #59bdd1, #3eabc1);
    --gradient-dark: linear-gradient(to right, #262626, #514f4f, #262626);
    --gradient-light: linear-gradient(to right, #e6e6e6, #f3f1f1, #e6e6e6);
}

/*#region font-size */
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
/*#endregion font-size */

/*#region text-position */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/*#endregion text-position */

/*#region btn */
.btn-default {
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: normal;
    cursor: pointer;
}
.btn-close-sm {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: block;
    line-height: 30px;
    cursor: pointer;
    border: none;
}
/*#region btn-position */
.btn-center {
    text-align: center;
}
.btn-left {
    text-align: left;
}
.btn-right {
    text-align: right;
}
/*#endregion btn-position */

/*#region btn-size */
.btn-left {
    text-align-last: left;
}
.btn-right {
    text-align: right;
}
.btn-sm {
    width: 100px;
}
.btn-md {
    width: 180px;
}
.btn-lg {
    width: 250px;
    height: 50px;
}
/*#endregion btn-size */

.btn-gradient-red {
    background: var(--gradient-red);
    /* background: -webkit-linear-gradient(to right, #f47c6d, #ff624e, #f47c6d); */
    color: var(--text-color-light);
}
.btn-gradient-red:hover {
    background: var(--gradient-red-hover);
    color: white;
}
.btn-gradient-green {
    background: var(--gradient-green);
    /* background: -webkit-linear-gradient(to right, #339468, #3ad59a, #339468); */
    color: var(--text-color-light);
}
.btn-gradient-green:hover {
    background: var(--gradient-green-hover);
    color: white;
}
.btn-gradient-blue {
    background: var(--gradient-blue);
    /* background: -webkit-linear-gradient(to right, #3eabc1, #59bdd1, #3eabc1); */
    color: var(--text-color-light);
}
.btn-gradient-dark {
    background: var(--gradient-dark);
    /* background: -webkit-linear-gradient(to right, #262626, #514f4f, #262626); */
    color: var(--text-color-light);
}
.btn-gradient-light {
    background: var(--gradient-light);
    /* background: -webkit-linear-gradient(to right, #e6e6e6, #f3f1f1, #e6e6e6); */
    color: var(--text-color-dark);
}
/*#endregion btn */

/*#region icon */
.icon-sm {
    width: 40px;
    height: 40px;
}
.icon-md {
    width: 50px;
    height: 50px;
}
.icon-lg {
    width: 60px;
    height: 60px;
}
.icon-scale {
    transition: 0.3s;
}
.icon-scale:hover {
    transform: scale(1.1, 1.1);
}
/*#endregion icon */
.pt-80 {
    padding-top: 80px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.section-padding {
    padding: 40px 10px;
}
.section-title {
    text-align: center;
    padding-bottom: 40px;
}
.section-title > h2 {
    font-size: 32px;
    letter-spacing: 1px;
}
[data-display="none"] {
    display: none;
}
[data-display="initial"] {
    display: initial;
}
